<div class="find">
    <div class="player">
        <div class="player-inner">
            <video src="https://app-builder-resource.oss-cn-shanghai.aliyuncs.com/prod/uploadckjn5re0ra.mp4" poster="https://fuss10.elemecdn.com/7/6e/8b165efcd067452e5aa1fc686dbeajpeg.jpeg"controls="controls"></video>
        </div>
    </div>
    <div class="tabs">
        <div class="tabs-head tabs-head-left">
            <div class="head-left"></div>
            <div class="head-right"></div>
        </div>
        <div class="tabs-content">
            <div class="tabs-main-left">

            </div>
            <div class="tabs-main-right">
                 <div class="container">
                     <div class="box">
                         <div class="box-head">
                             <div class="week"></div>
                             <div class="all"></div>
                         </div>
                         <h3 class="box-title">周榜前10名将有机会登上下周<b>饿了么开屏</b></h3>
                         <div class="list">
                             
                         </div>
                     </div>
                 </div>
            </div>

        </div>
    </div>
</div>