<section>
    <div class="meun">
            <div class="swiper-container swiper_two" >
                    <div class="swiper-wrapper " >
                      <div class="swiper-slide slide_one"></div>
                      <div class="swiper-slide">Slide 2</div>
                   
                    </div>
                    <!-- Add Pagination -->
    
             </div>
    </div>
    <div class="buy_charse">
        <div class="buy-child">
            <h2>品质套餐</h2>
            <p>搭配齐全吃的好</p>
            <a>立即抢购 》</a>
            <img src="https://fuss10.elemecdn.com/d/d4/16ff085900d62b8d60fa7e9c6b65dpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/">

        </div>
        <div class="buy-child">
            <h2>限量抢购 </h2>
            <p>超值美味9.9元起</p>
            <a>366人正在抢 》</a>
            <img src="https://fuss10.elemecdn.com/b/e1/0fa0ed514c093a7138b0b9a50d61fpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/">

        </div>

    </div>
    <div class="swiper-container swiper_one">
        <div class="swiper-wrapper swiper_child" >
            <div class="swiper-slide"><img src="https://fuss10.elemecdn.com/0/8e/4c868669517697e5ce9f97eb8335ajpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"/></div>
            <div class="swiper-slide"><img src="https://fuss10.elemecdn.com/d/c9/4f49375dcaf53b151616e49c85a31jpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"/></div>
            <div class="swiper-slide"><img src="https://fuss10.elemecdn.com/3/81/10542f410b30f939574d01ac39208jpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"/></div>
        </div>
    </div>
    <p class="commard">- 商家推荐 -</p>
    <div class="chooice">
        <a>综合排序</a>
        <a>距离最近</a>
        <a>品质联盟</a>
        <a>筛选</a>
    </div>


    <div class="food">

    </div>
   
    <div class="scroll-info--bottom scroll-info">
        <i class="iconfont icon-loading"></i>
        <span class="scroll-info__title">上拉加载更多</span>
    </div>
</section>
