<header class="header">
    <p class="city"><img src="img/postion.png">&nbsp;北京</p>
    <input type="text" class="text" placeholder="搜索饿了吗商家，上平名称">
    <!-- 搜索地址 -->
    <!-- https://h5.ele.me/restapi/shopping/v1/typeahead?kw=b&latitude=39.904172&longitude=116.407417&city_id=3 -->
</header>

<main></main>

<div class="scroll_top">
        <img src="img/scroll.png" >
    </div>

<footer class="footer">
    <a class="nav-link active" path='#/home' href="#/home">
        <img src="img/logo1.PNG">
        <span class="first-page active">首页</span>
    </a>
    <a class="nav-link" path='#/find'href="#/find">
        <img src="img/logo2.PNG">
        <span>发现</span>
    </a>
    <a class="nav-link" path='#/order'href="#/order">
        <img src="img/logo3.PNG">
        <span>订单</span>
    </a>
    <a class="nav-link" path='#/my'href="#/my">
        <img src="img/logo4.PNG">
        <span>我的</span>
    </a>
</footer>