<div>
    <div class="s-header">
        <div class="s-header-left">
            
        </div>
        <div class="s-header-con">
            我的
        </div>
    </div>
    <div class="s-header-down">
        <div class="s-left">
            <img src="../../img/logo.png" alt="">
        </div>
        <div class="s-con">
            <p class="up-in">登录/注册</p>
            <p class="up-down">登陆后享受更多特权</p>
        </div>
    </div>
    <div class="s-pic">
        <div class="money public">
            <div class="money-con public-con">
                <p class="s-pic1">
                    <img src="/img/1.png" alt="">
                </p>
                <p class="s-font">钱包</p>
            </div>

        </div>
        <div class="page public">
            <div class="money-con public-con">
                <p class="s-pic1">
                    <img src="/img/3.png" alt="">
                </p>
                <p class="s-font">红包</p>
            </div>
        </div>
        <div class="yellow public">
            <div class="money-con public-con">
                <p class="s-pic1">
                    <img src="/img/2.jpg" alt="">
                </p>
                <p class="s-font">金币</p>
            </div>
        </div>
    </div>
    <div class="s-adress s-item">
        <div class="pic4 s-little-pic">
            <img src="/img/4.png" alt="">
        </div>
        <div class="s-fonts">
            我的地址
        </div>
        <div class="icon">
            <img src="/img/9.png" alt="">
        </div>
    </div>

    <div class="s-adress s-item" style="border-bottom: .002667rem solid #ddd;">
            <div class="pic4 s-little-pic">
                <img src="/img/5.png" alt="">
            </div>
            <div class="s-fonts">
                金币商城
            </div>
            <div class="icon">
                <img src="/img/9.png" alt="">
            </div>
    </div>
    <div  class="s-adress s-item" style="margin-top: 0;border-top: none;" >
            <div class="pic4 s-little-pic">
                <img src="/img/6.png" alt="">
            </div>
            <div class="s-fonts">
                分享拿10元现金
            </div>
            <div class="icon">
                <img src="/img/9.png" alt="">
            </div>
    </div>
    <div class="s-adress s-item" style="border-bottom: .002667rem solid #ddd;">
            <div class="pic4 s-little-pic">
                <img src="/img/7.png" alt="">
            </div>
            <div class="s-fonts">
                我的客服
            </div>
            <div class="icon">
                <img src="/img/9.png" alt="">
            </div>
    </div>
    <div  class="s-adress s-item" style="margin-top: 0;border-top: none;" >
            <div class="pic4 s-little-pic">
                <img src="/img/8.png" alt="">
            </div>
            <div class="s-fonts">
                下载饿了吗APP
            </div>
            <div class="icon">
                <img src="/img/9.png" alt="">
            </div>
    </div>
</div>
