<div class="serch">
    <header class="serch_header">
        <span class="back"><</span>
        <form>
             <div class="serch_info">
                 
                    <input type="text" class="serch_text" placeholder="请输入商家、商品名称">
                    <input type="submit" id="sub"/>
                </div>

        </form>


    </header>
    <p class="hot">热门搜索</p>
    <div class="hot_kind">
           <button role="button" class="index-NbBi7">
                    烧烤
                  </button><button role="button" class="index-NbBi7">
                    羊蝎子
                  </button><button role="button" class="index-NbBi7">
                    粥
                  </button><button role="button" class="index-NbBi7">
                    沙县小吃
                  </button><button role="button" class="index-NbBi7">
                    汉堡王
                  </button><button role="button" class="index-NbBi7">
                    麻辣香锅
                  </button><button role="button" class="index-NbBi7">
                    星巴克
                  </button><button role="button" class="index-NbBi7">
                    披萨
                  </button><button role="button" class="index-NbBi7">
                    炸鸡
                  </button><button role="button" class="index-NbBi7">
                    周黑鸭
                  </button>

    </div>


</div>