       body,
       h2,
       p {
       	margin: 0;
       	padding: 0;
       }

       * {
       	box-sizing: border-box;
       }

       body,
       html {
       	overflow: hidden;
       	width: 100%;
       	height: 100%;
       }

       #root {
       	display: flex;
       	flex-direction: column;
       	height: 100%;
       	justify-content: space-between;
       }


       .header {
       	background: #0085ff;
       	height: 2.533333rem;
       	display: flex;
       	flex-direction: column;
       	justify-content: space-between;
       	padding: 0 .266667rem .266667rem;
       	width: 100%;
       }
	.header img{
	width: .5rem;
	height: .5rem;
	}
       main {
       	flex: 1;
       	overflow-y: scroll;
       }

       .scroll_top {
       	position: fixed;
       	bottom: 2.625rem;
       	right: .625rem;
       	width: 1rem;
       	height: 1rem;
       	border-radius: .9375rem;
       	line-height: 1.3rem;
       	text-align: center;
       	border: 1px solid #ccc;
		background: white;
		display: none;
       }

       .scroll_top img {
       	width: 0.6rem;
       	height: 0.6rem;
       }

       .city {
       	font-size: .453333rem;
       	color: white;
       	font-weight: 700;
       	padding-left: .4rem;
       	padding-top: .533333rem;
       }

       .text {
       	height: .96rem;
       	font-size: .373333rem;
       	padding-left: .533333rem;
       	text-align: center;
       	border-radius: .066667rem;
       	position: sticky;
       }

       .kinds {
       	width: 2rem;
       	height: 1.706667rem;
       	display: flex;
       	align-items: center;
       	justify-content: space-between;
       	flex-direction: column;
       	float: left;
       }

       .swiper_two .kinds img {
       	width: 1.2rem;
       	height: 1.2rem;
       }

       .kinds p {
       	text-align: center;
       }

       section::after {
       	content: "";
       	display: block;
       	height: 0;
       	clear: both;
       	visibility: hidden;
       }

       .meun {
       	padding-top: .3125rem;
       }

       .meun::after {
       	content: "";
       	display: block;
       	height: 0;
       	clear: both;
       	visibility: hidden;
       }

       .footer {
       	height: 1.333333rem;
       	background: #fff;
       	border-top: 1px solid #ccc;
       	width: 100%;
       	display: flex;
       	justify-content: space-around;
       }

       .footer a {
       	text-decoration: none;
       	display: flex;
       	flex-direction: column;
       	justify-content: space-around;
       	align-content: center;
       	color: #ccc;
       }

       .active {
       	color: #0af;
       }

       .footer a img {
       	width: .52rem;
       	height: .52rem;
       }

       .buy_charse {
       	display: flex;
       	justify-content: space-around;
       	align-content: center;
       	margin-top: .4rem;
       }

       .buy-child {
       	background: #f4f4f4;
       	display: flex;
       	flex-direction: column;
       	width: 49%;
       	height: 49%;
       	padding: .266667rem;
       }

       .buy-child img {
       	width: 3.2rem;
       	height: 2.133333rem;
       	margin-left: 1.066667rem;
       }

       .buy-child p,
       .buy-child a {
       	margin-top: .133333rem;
       }

       .buy-child:nth-child(2) h2 {
       	color: red
       }

       .commard {
       	font-size: 0.4rem;
       	line-height: 0.4rem;
       	text-align: center;
       	margin-top: .666667rem;
       }

       .chooice {
       	display: flex;
       	justify-content: space-around;
       	margin-top: .533333rem;
       }

       .chooice a {
       	text-decoration: none;
       	font-size: .373333rem;
       	color: #666;
       }

       .food {
       	display: flex;
       	flex-direction: column;
       	justify-content: space-between;
       	align-content: center;
       }

       .food_father {
       	display: flex;
       	align-content: center;
       	justify-content: space-between;
       }

       .food-img {
       	width: 20%;
       	height: auto;
       	padding-top: 1rem;
       	padding-left: .625rem;

       }

       .food-content {
       	margin-left: 1rem;
       	margin-top: .466667rem;
       	width: 65%;
       }

       .kind h4 {
       	line-height: 0px;
       	color: #333;
       	font-weight: 700;
       	font-size: .4rem;
       	margin-left: .1rem;
       	display: inline-block;
       }

       .kind span {
       	line-height: .2rem;
       }

       .send,
       .view,
       .people_good,
       .first_buy,
       .sub {
       	margin: .133333rem;
       	color: #666;
       }

       .distance,
       .send-bird {
       	margin-left: 0.5rem;
       }

       .people_good span:nth-child(2) {
       	color: #e8470b;
       }

       .send-bird {
       	background: #0af;
       	color: white;
       	margin-left: 1.875rem;
       	padding: .125rem;
       }

       .first_pay {
       	color: white;
       	background: rgb(112, 188, 70);
       	padding-left: .0625rem;
       	padding-right: .0625rem;
       	margin-right: .0625rem;
       }




       @keyframes loading {
       	from {
       		transform: rotate(0deg);
       	}

       	to {
       		transform: rotate(360deg);
       	}
       }



       // 下拉去刷新  放手就刷新 正在加载。。

       .scroll-info {
       	height: 1.066667rem;
       	display: flex;
       	justify-content: center;
       	align-items: center;
       	background: #f7f7f7;
       }

       .scroll-info--top.go-refresh {
       	.icon-arrowsdown {
       		display: block;
       	}

       	.icon-loading {
       		display: none;
       	}
       }


       .scroll-info--top.release-refresh {
       	.icon-arrowsdown {
       		display: block;
       		transform: rotate(180deg);
       	}

       	.icon-loading {
       		display: none;
       	}
       }

       .scroll-info--top.loading {
       	.icon-arrowsdown {
       		display: none;
       	}

       	.icon-loading {
       		display: block;
       		animation: loading 0.8s linear 0s infinite;
       	}
       }


       .scroll-info--bottom {
       	.icon-loading {
       		display: none;
       	}
       }

       .scroll-info--bottom.loading {
       	.icon-loading {
       		display: block;
       	}
       }
       .swiper_one img {
       	width: 100%;
	   }
	   
	.serch{
		height: 1.333333rem;
		margin-top:.266667rem;
	}
	.serch_header{ 
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
	.serch form{
		margin-left: .266667rem;
		flex: 1;
	}
	.serch span{
		font-size: 50px;
		height: .8rem;
	}
	.serch .serch_info{
		display: flex;
		justify-content:space-around;
		align-content: center;
		height: .8rem;
	}
	.serch .serch_text{
		width: 6.333333rem;
		height: 100%;
		padding-left: .533333rem;
		font-size: .32rem;
		background: #f5f5f5;
		border: none;
		border-radius: .026667rem;
	}
	#sub{
		height: 100%;
		width: 1.253333rem;
		border: none;
		font-size: .32rem;
	}
	.hot{
		font-size: .6rem;
		font-weight: bold;
		margin: .266667rem;
	}
	.hot_kind{
		display: flex;
		justify-content: flex-start;
		align-content: center;
		flex-wrap: wrap;
		padding-left: .466667rem;
	}
	.hot_kind button{
		width: 1.266667rem;
		height: .893333rem;
		margin: .233333rem;
		font-size: .26rem;
	}
	.swiper_two{
		height:auto;
		min-height: 4rem;
	}